/*  .rowFoto{
    margin: 0px auto;
}

.detalhesConteudo{
    display: grid;
    margin: 50px;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

.conteudoSobre{
    padding: 80px 90px 50px 90px;
    border: 1px solid #000;
}

.nomePreco{
   font-size: 20px;
   margin-bottom: 20px;
}

.sobre{
 margin-bottom: 25px;
}

.nomePais{
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nomePais h4{
    margin: 15px 0px 5px 0px;
}

.nomePais span{
    font-size: 14px;
}

.iconDetail{
    vertical-align: middle;
    display: block;
}


.buyButton{
    margin-top: 30px;
    background: #771248;
    padding: 10px;
    width: 100px;
    text-align: center;
    color: #fff;
}

@media only screen and (max-width: 800px) {
.detalhesConteudo{
    display: grid;
    margin: 50px;
	grid-template-columns: 1fr;
}
.rowFoto{
    margin: 0px auto;
    margin-bottom: 40px;
}
}

.footer{
    background: #771248;
    text-align: center;
    padding: 10px;
    color: white;
    font-family: 'Ubuntu';
} */